* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

header {
  min-width: 250px;
  width: 100%;
  border: 5px solid lightcoral;
  border-radius: 10px;
  text-align: center;
}

main {
  height: 100%;
  display: flex;
}

aside {
  min-width: 100px;
  border: 5px solid lightblue;
  border-radius: 10px;
  display: flex;
  flex-flow: column nowrap;
}

aside>button {
  margin: 5px;
  border: 2px solid lightcoral;
  border-radius: 10px;
  background-color: lightblue;
  color: lightcoral;
  cursor: pointer;
}

aside>button :hover {
  background-color: lightcoral;
  color: lightblue;
}

section {
  min-width: 200px;
  width: 100%;
  border: 5px solid lightgreen;
  border-radius: 10px;
  display: flex;
  flex-flow: row wrap;
}

section div {
  width: 200px;
  margin: 10px;
  background-color: bisque;
  border-radius: 10px;
}

section div img {
  display: block;
  margin: 10px auto;
  width: 180px;
  height: 180px;
}

@media (max-width: 1000px) {
  section div {
    background-color: lightcyan;
  }
}

@media (max-width: 700px) {
  section div {
    background-color: lightgray;
  }
}

#modal {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 400px;
  background-color: blanchedalmond;
  border-radius: 10px;
  z-index: 11;
  padding: 20px;
}

#closewx {
  background-color: blanchedalmond;
  cursor: pointer;
  border: 0px
}

#save {
  background-color: lightcoral;
  color: lightblue;
  cursor: pointer;
  margin: 5px;
  border: 2px solid lightblue;
  border-radius: 5px;
}

#save :hover {
  background-color: lightblue;
  color: lightcoral;

}